.blog1 > section.hero {
  background-image: url('../../assets/images/hero.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  // background: black;
  position: relative;
  height: 90vh;

  h1 {
    color: white;
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3rem;
    text-shadow: 0 4px 100px black;
  }
}
