<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PAGE 23</title>
    <link rel="stylesheet" href="../styles/main.css" />
  </head>
  <body id="main">
    <header>
      <nav class="nav">
        <div class="left">
          <img class="logo" src="../assets/images/logo.png" alt="logo" />
          <svg
            class="hamburger"
            role="button"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M4 6h16M4 12h16M4 18h16"
            />
          </svg>
        </div>
        <div class="right">
          <a href="#" class="menu">ofterFIT JP</a>
          <a href="#" class="menu">Who We Are</a>
          <a href="#" class="menu">What We Do</a>
          <a href="#" class="menu">Contact Us</a>
          <div class="translate">
            <img
              src="../assets/images/google-translate.svg"
              alt="google translate logo"
            />
            <div class="text">Bahasa</div>
          </div>
        </div>
      </nav>
    </header>
    <section class="breadcrumb">
      <div class="container">
        <div class="black" role="button">
          <div>What We Do</div>
          <svg
            class="down"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M19 9l-7 7-7-7"
            />
          </svg>
        </div>
        <div class="gray">/ EPC</div>
      </div>
    </section>
    <!-- AWAL PAGE23 ========================================== -->
    <main id="page23" class="blog1">
      <section class="hero">
        <h1 class="title">EPC</h1>
      </section>
      <section class="seca">
        <div class="container">
          <article class="bold">
            <p>
              What is EPC that afterFIT thinks about? Designed for the land, It
              is a construction that maximizes the income from selling
              electricity.
            </p>
            <p>afterFIT EPC has 3 commitments.</p>
          </article>
          <img src="../assets/images/hero.jpg" alt="gambar" />
          <article>
            <p>3D design to control shadows</p>
            <p>
              It is common sense that "it is not good for solar panels to be
              shaded."
            </p>
            <p>
              However, few people know how much shadows affect power generation.
            </p>
            <p>
              In fact, the amount of power generated may decrease by 60 to 70%
              with only a 3 cm shadow on the edge of the panel. *
            </p>
            <p>There are various conditions.</p>
            <p>
              At afterFIT, we are particular about the design that produces the
              maximum amount of power generation by thoroughly eliminating the
              shadow that is the enemy.
            </p>
          </article>
          <article>
            <p>For example,</p>
            <p>
              The power plants in the video below do not dare to even out the
              arrays so that the panels do not cast shadows in any season or
              time of day.
            </p>
          </article>
          <img src="../assets/images/hero.jpg" alt="gambar" />
          <article>
            <p><strong>Drone</strong></p>
            <p>
              AfterFIT has introduced surveying using drones. Not only accurate
              terrain but also shadows caused by surrounding trees and obstacles
              are assumed and analyzed, enabling design that maximizes the
              potential of the land.
            </p>
          </article>
          <img src="../assets/images/hero.jpg" alt="gambar" />
          <article>
            <p>
              Wiring design that increases power generation by up to 20%
              Increases power generation by up to 20% Wiring design Did you know
              that the amount of electricity generated can differ by up to 20%
              depending on the design and construction of the wiring?
            </p>
            <p>
              Based on the wiring diagram designed by the elite team through
              careful calculation, experienced technicians perform the
              construction without waste and realize the wiring with the minimum
              power generation loss.
            </p>
          </article>
          <div class="two-images">
            <img src="../assets/images/hero.jpg" alt="gambar" />
            <img src="../assets/images/hero.jpg" alt="gambar" />
          </div>
        </div>
        <!-- TO TOP BUTTON -->
        <div class="to-top">
          <a href="#main" class="btn">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M5 15l7-7 7 7"
              />
            </svg>
          </a>
        </div>
        <!-- AKHIR TO TOP BUTTON -->
      </section>
    </main>
    <!-- AKHIR PAGE23 ============================================== -->
    <footer>
      <div class="container">
        <div class="top">
          <a href="#" class="menu">Policy Privacy</a>
          <a href="#" class="menu">Terms and Conditions</a>
          <a href="#" class="menu">Site Map</a>
        </div>
        <div class="bottom">
          <a href="#main" class="left">Top Page</a>
          <div class="right">&#169; 2021 PT OfterFit Indonesia</div>
        </div>
      </div>
    </footer>
  </body>
</html>
