<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PAGE 19</title>
    <link rel="stylesheet" href="../styles/main.css" />
  </head>
  <body id="main">
    <header>
      <nav class="nav">
        <div class="left">
          <img class="logo" src="../assets/images/logo.png" alt="logo" />
          <svg
            class="hamburger"
            role="button"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M4 6h16M4 12h16M4 18h16"
            />
          </svg>
        </div>
        <div class="right">
          <a href="#" class="menu">ofterFIT JP</a>
          <a href="#" class="menu">Who We Are</a>
          <a href="#" class="menu">What We Do</a>
          <a href="#" class="menu">Contact Us</a>
          <div class="translate">
            <img
              src="../assets/images/google-translate.svg"
              alt="google translate logo"
            />
            <div class="text">Bahasa</div>
          </div>
        </div>
      </nav>
    </header>
    <section class="breadcrumb">
      <div class="container">
        <div class="black" role="button">
          <div>What We Are</div>
          <svg
            class="down"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M19 9l-7 7-7-7"
            />
          </svg>
        </div>
        <div class="gray">/ Our Message</div>
      </div>
    </section>
    <!-- AWAL PAGE 19 ========================================== -->
    <main id="page19" class="member">
      <section class="hero">
        <div class="box">
          <div class="name">Cota Saito</div>
          <div class="organization">PT AfterFIT Indonesia</div>
          <div class="position">President Director</div>
        </div>
        <div class="quote">"It always seems impossible until it’s done."</div>
      </section>
      <section class="seca">
        <div class="container">
          <p>
            Indonesia has a population of three hundred million, and its
            national land is five times bigger than Japan.
          </p>
          <p>
            You are one of the distinguished country from the view of economic
            growth.
          </p>
          <p>
            At the same time, you have a great responsibility for providing
            Renewable Energy. However you fulfill the requirements to it.
          </p>
          <p>Now itʼs time to start moving.</p>
          <p>
            I would like to offer you ʻRichʼ and ʻCleanʼ Power permanently.
            Finally I promise that I make a significant contributions to my
            second home Indonesia.
          </p>
        </div>
      </section>
      <section class="secb">
        <div class="container">
          <div class="box">
            <div class="title">Joined AFI</div>
            <div class="description">
              <p>Founding Member</p>
              <p>November</p>
              <p>2019</p>
            </div>
          </div>
          <div class="box">
            <div class="title">Hometown</div>
            <div class="description">
              <p>Yokohama</p>
              <p>Japan</p>
            </div>
          </div>
          <div class="box">
            <div class="title">Experience</div>
            <div class="description">
              <p>PV power</p>
              <p>Biomass power</p>
              <p>Finance</p>
            </div>
          </div>
          <div class="box">
            <div class="title">Hobbies</div>
            <div class="description">
              <p>Golf</p>
              <p>Soccer</p>
              <p>Hot Spring</p>
            </div>
          </div>
        </div>

        <!-- TO TOP BUTTON -->
        <div class="to-top">
          <a href="#main" class="btn">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M5 15l7-7 7 7"
              />
            </svg>
          </a>
        </div>
        <!-- AKHIR TO TOP BUTTON -->
      </section>
    </main>
    <!-- AKHIR PAGE 18 ============================================== -->
    <footer>
      <div class="container">
        <div class="top">
          <a href="#" class="menu">Policy Privacy</a>
          <a href="#" class="menu">Terms and Conditions</a>
          <a href="#" class="menu">Site Map</a>
        </div>
        <div class="bottom">
          <a href="#main" class="left">Top Page</a>
          <div class="right">&#169; 2021 PT OfterFit Indonesia</div>
        </div>
      </div>
    </footer>
  </body>
</html>
