<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PAGE 26</title>
    <link rel="stylesheet" href="../styles/main.css" />
  </head>
  <body id="main">
    <header>
      <nav class="nav">
        <div class="left">
          <img class="logo" src="../assets/images/logo.png" alt="logo" />
          <svg
            class="hamburger"
            role="button"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M4 6h16M4 12h16M4 18h16"
            />
          </svg>
        </div>
        <div class="right">
          <a href="#" class="menu">ofterFIT JP</a>
          <a href="#" class="menu">Who We Are</a>
          <a href="#" class="menu">What We Do</a>
          <a href="#" class="menu">Contact Us</a>
          <div class="translate">
            <img
              src="../assets/images/google-translate.svg"
              alt="google translate logo"
            />
            <div class="text">Bahasa</div>
          </div>
        </div>
      </nav>
    </header>
    <section class="breadcrumb">
      <div class="container">
        <div class="black" role="button">
          <div>Contact Us</div>
          <svg
            class="down"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M19 9l-7 7-7-7"
            />
          </svg>
        </div>
        <div class="gray">/ Recruitment</div>
      </div>
    </section>
    <!-- AWAL PAGE26 ========================================== -->
    <main id="page26">
      <section class="hero">
        <h1 class="title">Contact Us</h1>
      </section>
      <section class="seca">
        <div class="container">
          <div class="left">
            <div role="button" class="btn">Recruitment</div>
            <div class="japan">押すことはできない</div>
          </div>
          <div role="button" class="btn">Business</div>
        </div>
        <!-- TO TOP BUTTON -->
        <div class="to-top">
          <a href="#main" class="btn">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M5 15l7-7 7 7"
              />
            </svg>
          </a>
        </div>
        <!-- AKHIR TO TOP BUTTON -->
      </section>
    </main>
    <!-- AKHIR PAGE26 ============================================== -->
    <footer>
      <div class="container">
        <div class="top">
          <a href="#" class="menu">Policy Privacy</a>
          <a href="#" class="menu">Terms and Conditions</a>
          <a href="#" class="menu">Site Map</a>
        </div>
        <div class="bottom">
          <a href="#main" class="left">Top Page</a>
          <div class="right">&#169; 2021 PT OfterFit Indonesia</div>
        </div>
      </div>
    </footer>
  </body>
</html>
