<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../styles/main.css" />
  </head>
  <body id="main">
    <header>
      <nav class="nav">
        <div class="left">
          <img class="logo" src="../assets/images/logo.png" alt="logo" />
          <svg
            class="hamburger"
            role="button"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M4 6h16M4 12h16M4 18h16"
            />
          </svg>
        </div>
        <div class="right">
          <a href="#" class="menu">ofterFIT JP</a>
          <a href="#" class="menu">Who We Are</a>
          <a href="#" class="menu">What We Do</a>
          <a href="#" class="menu">Contact Us</a>
          <div class="translate">
            <img
              src="../assets/images/google-translate.svg"
              alt="google translate logo"
            />
            <div class="text">Bahasa</div>
          </div>
        </div>
      </nav>
    </header>
    <section class="breadcrumb">
      <div class="container">
        <div class="black" role="button">
          <div>What We Are</div>
          <svg
            class="down"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M19 9l-7 7-7-7"
            />
          </svg>
        </div>
        <div class="gray">/ Our Team</div>
      </div>
    </section>
    <!-- PAGE 18 ========================================================= -->
    <main id="page18">
      <section class="hero">
        <h1 class="title">Our Team</h1>
      </section>
      <section class="seca">
        <div class="container">
          <div class="title">We Value our Members</div>
          <div class="description">
            Our team consists of people from various backgrounds with a
            challenger mentality. Each individual are important in our
            organization to actualize our vision and values.
          </div>
        </div>
      </section>
      <section class="secb">
        <div class="container">
          <div class="title">Meet Out Team</div>
          <div class="people-container">
            <div class="people people-1">
              <div class="img"></div>
              <div class="description-box">
                <div class="name">Kawamura</div>
                <div class="position">Director</div>
              </div>
            </div>
            <div class="people people-2">
              <div class="img"></div>
              <div class="description-box">
                <div class="name">Nagao</div>
                <div class="position">Sales Manager</div>
                <div class="position">General Manager</div>
                <div class="departement">Business Development Div</div>
              </div>
            </div>
            <div class="people people-3">
              <div class="img"></div>
              <div class="description-box">
                <div class="name">Maria</div>
                <div class="position">Finance Manager</div>
                <div class="position">General Manager</div>
                <div class="departement">Administration Div</div>
              </div>
            </div>
            <div class="people people-4">
              <div class="img"></div>
              <div class="description-box">
                <div class="name">Asep</div>
                <div class="position">Manager</div>
                <div class="departement">Business Development Dept</div>
              </div>
            </div>
            <div class="people people-5">
              <div class="img"></div>
              <div class="description-box">
                <div class="name">Andrie</div>
                <div class="position">Manager</div>
                <div class="departement">Business Development Dept</div>
              </div>
            </div>
            <div class="people people-6">
              <div class="img"></div>
              <div class="description-box">
                <div class="name">Kemas</div>
                <div class="position">Manager</div>
                <div class="departement">Business Promotion Dept</div>
              </div>
            </div>
            <div class="people people-7">
              <div class="img"></div>
              <div class="description-box">
                <div class="name">Wika</div>
                <div class="position">Manager</div>
                <div class="departement">Legal Dept</div>
              </div>
            </div>
            <div class="people people-8">
              <div class="img"></div>
              <div class="description-box">
                <div class="name">Rosi</div>
                <div class="position">Manager</div>
                <div class="departement">Human Resource Dept</div>
              </div>
            </div>
            <div class="people people-9">
              <div class="img"></div>
              <div class="description-box">
                <div class="name">Ancha</div>
                <div class="departement">Executive Advisor</div>
              </div>
            </div>
          </div>
          <!-- akhir people box -->
        </div>
        <div class="to-top">
          <a href="#main" class="btn">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M5 15l7-7 7 7"
              />
            </svg>
          </a>
        </div>
      </section>
    </main>
    <!-- END PAGE 18 ================================================== -->
    <footer>
      <div class="container">
        <div class="top">
          <a href="#" class="menu">Policy Privacy</a>
          <a href="#" class="menu">Terms and Conditions</a>
          <a href="#" class="menu">Site Map</a>
        </div>
        <div class="bottom">
          <a href="#main" class="left">Top Page</a>
          <div class="right">&#169; 2021 PT OfterFit Indonesia</div>
        </div>
      </div>
    </footer>
  </body>
</html>
