{% extends "afi_web/layout.html" %}
{% block title %}
	AfterFit Indonesia
{% endblock %}
{% block body %}
	<ul class="breadcrumb">
		<li>What We Are</li>
		<li>Our Team</li>
	</ul>
	<div class="cover">
		<img src="static\afi_web\pic\mardis.jpg">
		<div class="member_cover_text_left">
			<h1 style="color: white;"><b>Ancha</b></h1>
			<p style="color: white;"><b>Executive Advisor</b></p>
		</div>
	</div>
	<div class="content">
		<div class="quote">
			<p><b>"Yang Penting Senang."</b></p>
		</div>
		<div class="member">
			<div class="member_data">
				<div class="member_column">
					<h3>Joined AFI</h3>
					<hr>
					<p>December</p>
					<p>2020</p>
				</div>
				<div class="member_column">
					<h3>Hometown</h3>
					<hr>
					<p>Sengkong</p>
					<p>Indonesia</p>
				</div>
				<div class="member_column">
					<h3>Division</h3>
					<hr>
					<p>Human Resources</p>
					<p>Consultant</p>
					<p>Government Relation</p>
				</div>
				<div class="member_column">
					<h3>Hobbies</h3>
					<hr>
					<p>Reading Books</p>
					<p>Futsal</p>
					<p>Badminton</p>
				</div>
			</div>
		</div>
	</div>
{% endblock %}