{% extends "afi_web/layout.html" %}
{% block title %}
	AfterFit Indonesia
{% endblock %}
{% block body %}
	<section class="breadcrumb">
		<div class="container">
		<div class="black" role="button">
			<div>What We Are</div>
			<svg
			class="down"
			xmlns="http://www.w3.org/2000/svg"
			fill="none"
			viewBox="0 0 24 24"
			stroke="currentColor"
			>
			<path
				stroke-linecap="round"
				stroke-linejoin="round"
				stroke-width="2"
				d="M19 9l-7 7-7-7"
			/>
			</svg>
		</div>
		<div class="gray">/ Our Team</div>
		</div>
	</section>
	<main id="page34" class="member">
		<section class="hero">
			<div class="box">
				<div class="name">Andrie</div>
				<div class="position">Manager</div>
				<div class="division">Business Development Dept</div>
			</div>
			<div class="quote">"The harder you try,
				the better it will feel when you succeed."</div>
		</section>
		<section class="biodata">
			<div class="container">
				<div class="box">
					<div class="title">Joined AFI</div>
					<div class="description">
						<p>June</p>
						<p>2020</p>
					</div>
				</div>
				<div class="box">
					<div class="title">Hometown</div>
					<div class="description">
						<p>Majalengka</p>
						<p>Indonesia</p>
					</div>
				</div>
				<div class="box">
					<div class="title">Experience</div>
					<div class="description">
						<p>CAD/CAM Engineer</p>
						<p>Community Development</p>
					</div>
				</div>
				<div class="box">
					<div class="title">Hobbies</div>
					<div class="description">
						<p>Futsal</p>
					</div>
				</div>
			</div>
		</section>
	</main>
{% endblock %}