{% extends "afi_web/layout.html" %}
{% block title %}
	AfterFit Indonesia
{% endblock %}
{% block body %}
	<ul class="breadcrumb">
		<li>What We Are</li>
		<li>Our Team</li>
	</ul>
	<div class="cover">
		<img src="static\afi_web\pic\andrie.jpg">
		<div class="member_cover_text_left">
			<h1 style="color: white;"><b>Andrie</b></h1>
			<p style="color: white;"><b>Manager</b></p>
			<p style="color: white;">Business Development Dept</p>
		</div>
	</div>
	<div class="content">
		<div class="quote">
			<p><b>"The harder you try,<br>
				the better it will feel when you succeed."</b></p>
		</div>
		<div class="member">
			<div class="member_data">
				<div class="member_column">
					<h3>Joined AFI</h3>
					<hr>
					<p>June</p>
					<p>2020</p>
				</div>
				<div class="member_column">
					<h3>Hometown</h3>
					<hr>
					<p>Majalengka</p>
					<p>Indonesia</p>
				</div>
				<div class="member_column">
					<h3>Experience</h3>
					<hr>
					<p>CAD/CAM Engineer</p>
					<p>Community Development</p>
				</div>
				<div class="member_column">
					<h3>Hobbies</h3>
					<hr>
					<p>Futsal</p>
				</div>
			</div>
		</div>
	</div>
{% endblock %}