{% extends "afi_web/layout.html" %}
{% block title %}
	AfterFit Indonesia
{% endblock %}
{% block body %}
	<ul class="breadcrumb">
		<li>What We Are</li>
		<li>Our Team</li>
	</ul>
	<div class="cover">
		<img src="static\afi_web\pic\asep.jpg">
		<div class="member_cover_text_left">
			<h1 style="color: white;"><b>Asep</b></h1>
			<p style="color: white;"><b>Manager</b></p>
			<p style="color: white;">Business Development Dept</p>
		</div>
	</div>
	<div class="content">
		<div class="quote">
			<p><b>"You Won't Know Until
				You Try."<b></p>
		</div>
		<div class="member">
			<div class="member_data">
				<div class="member_column">
					<h3>Joined AFI</h3>
					<hr>
					<p>October</p>
					<p>2020</p>
				</div>
				<div class="member_column">
					<h3>Hometown</h3>
					<hr>
					<p>Sukabumi</p>
					<p>Indonesia</p>
				</div>
				<div class="member_column">
					<h3>Experience</h3>
					<hr>
					<p>Printed Circuit Board</p>
					<p>Quality Control</p>
					<p>Manufacturing</p>
				</div>
				<div class="member_column">
					<h3>Hobbies</h3>
					<hr>
					<p>Futsal</p>
					<p>Badminton</p>
				</div>
			</div>
		</div>
	</div>
{% endblock %}