{% extends "afi_web/layout.html" %}
{% block title %}
	AfterFit Indonesia
{% endblock %}
{% block body %}
	<section class="breadcrumb">
		<div class="container">
		<div class="black" role="button">
			<div>What We Do</div>
			<svg
			class="down"
			xmlns="http://www.w3.org/2000/svg"
			fill="none"
			viewBox="0 0 24 24"
			stroke="currentColor"
			>
			<path
				stroke-linecap="round"
				stroke-linejoin="round"
				stroke-width="2"
				d="M19 9l-7 7-7-7"
			/>
			</svg>
		</div>
		<div class="gray">/ Data</div>
		</div>
	</section>
	<main id="page25" class="blog1">
		<section class="hero">
		<h1 class="title">Data</h1>
		</section>
		<section class="seca">
		<div class="container">
			<article>
			<h2>Invest in Solar Panels</h2>
			<h3>
				Solar Business is one of the most important aspect in processing
				renewable energy.
			</h3>
			<p>
				Renewable energy accounts for 18% of Japan's electricity supply.
				The national goal of "raising to 22-24% in 2030" is largely
				lacking. Solar power has grown rapidly since the FIT came into
				force in 2012, but still only 13%.
			</p>
			<p>
				How can we create the necessary green electricity in Japan, which
				has a small land area? How can we cope with the lack of free space
				in the power grid?
			</p>
			</article>
		</div>
		</section>
	</main>
{% endblock %}