{% extends "afi_web/layout.html" %}
{% block title %}
	AfterFit Indonesia
{% endblock %}
{% block body %}
	<ul class="breadcrumb">
		<li>What we do</li>
		<li>Development</li>
	</ul>
	<div class="cover">
		<img src="static\afi_web\pic\development.jfif">
		<div class="cover_text">
			<h1 style="color: white;">Development</h1>
		</div>
	</div>
	<div class="content">
		<h2>Solar Business</h2>
		<h2>Solar Business is one of the most important aspect
			in processing renewable energy.</h2>

		<p>Renewable energy accounts for 18% of Japan's electricity
			supply. The national goal of "raising to 22-24% in 2030" is
			largely lacking. Solar power has grown rapidly since the FIT
			came into force in 2012, but still only 13%.<br>
			How can we create the necessary green electricity in Japan,
			which has a small land area? How can we cope with the lack
			of free space in the power grid?</p>

		<img src="" alt="development">
	</div>
{% endblock %}