{% extends "afi_web/layout.html" %}
{% block title %}
	AfterFit Indonesia
{% endblock %}
{% block body %}
	<section class="breadcrumb">
		<div class="container">
		<div class="black" role="button">
			<div>What We Do</div>
			<svg
			class="down"
			xmlns="http://www.w3.org/2000/svg"
			fill="none"
			viewBox="0 0 24 24"
			stroke="currentColor"
			>
			<path
				stroke-linecap="round"
				stroke-linejoin="round"
				stroke-width="2"
				d="M19 9l-7 7-7-7"
			/>
			</svg>
		</div>
		<div class="gray">/ EPC</div>
		</div>
	</section>
	<main id="page23" class="blog1">
		<section class="hero">
		<h1 class="title">EPC</h1>
		</section>
		<section class="seca">
		<div class="container">
			<article class="bold">
			<p>
				What is EPC that afterFIT thinks about? Designed for the land, It
				is a construction that maximizes the income from selling
				electricity.
			</p>
			<p>afterFIT EPC has 3 commitments.</p>
			</article>
			<img src="static\afi_web\pic\crop\epc1.png" alt="gambar" />
			<article>
			<p>3D design to control shadows</p>
			<p>
				It is common sense that "it is not good for solar panels to be
				shaded."
			</p>
			<p>
				However, few people know how much shadows affect power generation.
			</p>
			<p>
				In fact, the amount of power generated may decrease by 60 to 70%
				with only a 3 cm shadow on the edge of the panel. *
			</p>
			<p>There are various conditions.</p>
			<p>
				At afterFIT, we are particular about the design that produces the
				maximum amount of power generation by thoroughly eliminating the
				shadow that is the enemy.
			</p>
			</article>
			<article>
			<p>For example,</p>
			<p>
				The power plants in the video below do not dare to even out the
				arrays so that the panels do not cast shadows in any season or
				time of day.
			</p>
			</article>
			<img src="static\afi_web\pic\crop\epc2.png" alt="gambar" />
			<article>
			<p><strong>Drone</strong></p>
			<p>
				AfterFIT has introduced surveying using drones. Not only accurate
				terrain but also shadows caused by surrounding trees and obstacles
				are assumed and analyzed, enabling design that maximizes the
				potential of the land.
			</p>
			</article>
			<img src="static\afi_web\pic\crop\epc3.png" alt="gambar" />
			<article>
			<p>
				Wiring design that increases power generation by up to 20%
				Increases power generation by up to 20% Wiring design Did you know
				that the amount of electricity generated can differ by up to 20%
				depending on the design and construction of the wiring?
			</p>
			<p>
				Based on the wiring diagram designed by the elite team through
				careful calculation, experienced technicians perform the
				construction without waste and realize the wiring with the minimum
				power generation loss.
			</p>
			</article>
			<div class="two-images">
			<img src="static\afi_web\pic\crop\epc4.png" alt="gambar" />
			<img src="static\afi_web\pic\crop\epc5.png" alt="gambar" />
			</div>
		</div>
		</section>
	</main>
{% endblock %}