{% extends "afi_web/layout.html" %}
{% load static %}
{% block title %}
	AfterFit Indonesia
{% endblock %}
{% block body %}
	<main id="page14">
		<section class="hero">
		<div class="container">
			<h1 class="title">DO YOU KNOW WHAT ENERGY TYPE YOU ARE USING?</h1>
			<p class="decsription">
			Indonesia has a population of three hundred million, and its
			national land is five times bigger than Japan. You are one of the
			distinguished country from the view of economic growth.
			</p>
			<div class="btn btn-sm" role="button" onclick="overview()">Learn More</div>
		</div>
		</section>
		<section class="seca">
			<div class="container">
				<div class="gap"></div>
				<article>
				<img src="static\afi_web\pic\index2.jpg" alt="image" />
				<div class="box">
					<div class="title">
					AfterFIT Is Very Adamant When It Comes To Power Distribution in
					<u>Indonesia.</u>
					</div>
					<div class="description">
					At AfterFIT, we devote our best into giving the optimal output
					to renewable energy as well as power distribution. Without the
					renewal of renewable energy, many would be lost.
					</div>
					<div class="btn btn-sm" role="button" onclick="development()">Learn More</div>
				</div>
				</article>
				<div class="gap"></div>
				<article class="reverse">
				<img src="static\afi_web\pic\index3.jpg" alt="image" />
				<div class="box">
					<div class="title">Our Team</div>
					<div class="description">
					In AfterFIT, consulting regarding the development of solar
					panels as well as the distribution of solar panels is very
					important to us. We use the optimal source of land in order to
					get the best sunlight.
					</div>
					<div class="btn btn-sm" role="button" onclick="ourTeam()">Learn More</div>
				</div>
				</article>
				<div class="gap"></div>
				<article>
				<img src="static\afi_web\pic\index4.jpg" alt="image" />
				<div class="box">
					<div class="title">EPC</div>
					<div class="description">
					In AfterFIT, consulting regarding the development of solar
					panels as well as the distribution of solar panels is very
					important to us. We use the optimal source of land in order to
					get the best sunlight.
					</div>
					<div class="btn btn-sm" role="button" onclick="epc()">Learn More</div>
				</div>
				</article>
				<div class="gap"></div>
				<article class="reverse">
				<img src="static\afi_web\pic\index5.jpg" alt="image" />
				<div class="box">
					<div class="title">Message</div>
					<div class="description">
					In AfterFIT, it is vital to have the proper equipment as well as
					standard when it comes to extracting energy. Indonesia has a lot
					of potential to gather energy- and we can start with that. See
					our President's message regarding the development of solar
					panels in Indonesia.
					</div>
					<div class="btn btn-sm" role="button" onclick="message()">Learn More</div>
				</div>
				</article>
				<div class="gap"></div>
			</div>
		</section>
{% endblock %}