{% extends "afi_web/layout.html" %}
{% block title %}
	AfterFit Indonesia
{% endblock %}
{% block body %}
	<div class="cover">
		<img src="static\afi_web\pic\index1.jpg">
		<div class="cover_text" style="padding-left: 70px; top: 90px;">
			<h1 style="color: white; line-height: 80px; text-align: left;">DO YOU KNOW WHAT<br>ENERGY TYPE YOU ARE<br>USING?</h1>
			<p style="color: white;"> Indonesia has a population of three hundred million, and its national land is<br>
				five times bigger than Japan.<br>
				<u>You</u> are one of the distinguished country from the view of economic growth.</p>
			<div class="container" style="padding-top: 40px;">
				<button><b>Learn more</b></button>
			</div>
		</div>
	</div>
	<div class="content">
		<div class="float_container">
			<div class="float">
				<img src="static\afi_web\pic\index2.jfif" alt="solar panel" style="padding-left: 30px;">
			</div>
			<div class="float">
				<h2>AfterFIT Is Very<br>
					Adamant When It Comes To<br>
					Power Distribution in <u>Indonesia.</u></h2>
				<p>At AfterFIT, we devote our best into giving the optimal<br>
					output to renewable energy<br>
					as well as power distribution. Without the renewal of<br>
					renewable energy, many would be lost.</p>
				<button><b>Learn more</b></button>
			</div>
		</div>

		<div class="float_container">
			<div class="float">
				<h2>Our Team</h2>
				<p>In AfterFIT, consulting regarding the development of<br>
					solar panels as well as the distribution of solar panels<br>
					is very important to us. We use the optimal source of<br>
					land in order to get the best sunlight.</p>
				<button><b>Learn more</b></button>
			</div>
			<div class="float">
				<img src="static\afi_web\pic\our-team.jpg" alt="our team">
			</div>
		</div>

		<div class="float_container">
			<div class="float">
				<img src="static\afi_web\pic\epc.jpg" alt="EPC">
			</div>
			<div class="float">
				<h2>EPC</h2>
				<p>In AfterFIT, consulting regarding the development of<br>
					solar panels as well as the distribution of solar panels<br>
					is very important to us. We use the optimal source of<br>
					land in order to get the best sunlight.</p>
				<button><b>Learn more</b></button>
			</div>
		</div>

		<div class="float_container">
			<div class="float">
				<h2>Message</h2>
				<p>In AfterFIT, it is vital to have the proper equipment as<br>
					well as standard when it comes to extracting energy.<br>
					Indonesia has a lot of potential to gather energy- and<br>
					we can start with that. See our President's message<br>
					regarding the development of solar panels in<br>
					Indonesia.</p>
				<button><b>Learn more</b></button>
			</div>
			<div class="float">
				<img src="static\afi_web\pic\saito.jpg" alt="saito">
			</div>
		</div>
	</div>
{% endblock %}