{% extends "afi_web/layout.html" %}
{% block title %}
	AfterFit Indonesia
{% endblock %}
{% block body %}
	<ul class="breadcrumb">
		<li>What We Are</li>
		<li>Our Team</li>
	</ul>
	<div class="cover">
		<img src="static\afi_web\pic\kemas.jpg">
		<div class="member_cover_text_left">
			<h1 style="color: white;"><b>Kemas</b></h1>
			<p style="color: white;"><b>Manager</b></p>
			<p style="color: white;">Project Development Dept</p>
		</div>
	</div>
	<div class="content">
		<div class="quote">
			<p><b>"Any fool knows that to work hard
				on things you want to accomplish is
				the only way to be happy."</b></p>
		</div>
		<div class="member">
			<div class="member_data">
				<div class="member_column">
					<h3>Joined AFI</h3>
					<hr>
					<p>August</p>
					<p>2020</p>
				</div>
				<div class="member_column">
					<h3>Hometown</h3>
					<hr>
					<p>Sapporo</p>
					<p>Japan</p>
				</div>
				<div class="member_column">
					<h3>Division</h3>
					<hr>
					<p>Oil and Gas EPC</p>
					<p>Project Management</p>
				</div>
				<div class="member_column">
					<h3>Hobbies</h3>
					<hr>
					<p>Mountaineering</p>
				</div>
			</div>
		</div>
	</div>
{% endblock %}