{% extends "afi_web/layout.html" %}
{% block title %}
	AfterFit Indonesia
{% endblock %}
{% block body %}
	<ul class="breadcrumb">
		<li>What We Are</li>
		<li>Our Team</li>
	</ul>
	<div class="cover">
		<img src="static\afi_web\pic\nagao.jpg">
		<div class="member_cover_text_right">
			<h1 style="color: white;"><b>Nagao</b></h1>
			<p style="color: white;"><b>General Manager</b></p>
			<p style="color: white;"><b>Business Development Div</b></p>
		</div>
	</div>
	<div class="content">
		<div class="quote">
			<p><b>"Ichigo - Ichie"</b></p>
		</div>
		<div class="member">
			<div class="member_data">
				<div class="member_column">
					<h3>Joined AFI</h3>
					<hr>
					<p>January</p>
					<p>2020</p>
				</div>
				<div class="member_column">
					<h3>Hometown</h3>
					<hr>
					<p>Hyogo</p>
					<p>Japan</p>
				</div>
				<div class="member_column">
					<h3>Experience</h3>
					<hr>
					<p>Project Management</p>
					<p>System Engineer</p>
				</div>
				<div class="member_column">
					<h3>Hobbies</h3>
					<hr>
					<p>Traveling</p>
					<p>Watching movies</p>
				</div>
			</div>
		</div>
	</div>
{% endblock %}