{% extends "afi_web/layout.html" %}
{% block title %}
	AfterFit Indonesia
{% endblock %}
{% block body %}
	<ul class="breadcrumb">
		<li>What we do</li>
		<li>O&M</li>
	</ul>
	<div class="cover">
		<img src="static\afi_web\pic\onm.jpg">
		<div class="cover_text">
			<h1 style="color: white;">O&M</h1>
		</div>
	</div>
	<div class="content">
		<h2>What is O & M that afterFIT thinks
			about?<br>
			It is "preventive maintenance".</h2>

		<p>When you find a problem at a power plant, afterFIT doesn't
			just solve it.<br>
			Identify the cause of the problem and take fundamental
			measures to prevent the same from happening
			By doing so, we will support the stable operation of the power
			plant for 20 years.</p>

		<img src="static\afi_web\pic\onm2.JFIF" alt="onm">

		<p>Operation<br>
			Always monitor for any abnormalities and should be.<br>
			Monitor if there is any discrepancy with the amount of power
			generated. "Departure that should be
			"Electric charge" is calculated from the amount of solar
			radiation in the area.<br>
			The potential that the power plant originally has<br>
			That's Yar. Stay on alert monitoring<br>
			Not reaching the desired amount of power generation<br>
			I think that something is wrong<br>
			Eh, always by a professional team<br>
			Nittering is done.</p>

		<img src="static\afi_web\pic\onm3.JFIF" alt="onm">

		<p>Maintenance<br>
			Maintenance and inspection to maintain stable power
			generation for 20 years
			to hold. Just go to the power plant and look at it<br>
			Maintenance is outdated. Visually abnormal<br>
			Of course, it develops abnormally<br>
			See signs of doing and deal with them in advance<br>
			Top quality mail to prevent troubles<br>
			We provide maintenance.</p>
	</div>
{% endblock %}