{% extends "afi_web/layout.html" %}
{% block title %}
	AfterFit Indonesia
{% endblock %}
{% block body %}
	<section class="breadcrumb">
		<div class="container">
		<div class="black" role="button">
			<div>What We Do</div>
			<svg
			class="down"
			xmlns="http://www.w3.org/2000/svg"
			fill="none"
			viewBox="0 0 24 24"
			stroke="currentColor"
			>
			<path
				stroke-linecap="round"
				stroke-linejoin="round"
				stroke-width="2"
				d="M19 9l-7 7-7-7"
			/>
			</svg>
		</div>
		<div class="gray">/ O&M</div>
		</div>
	</section>
	<main id="page24" class="blog1">
		<section class="hero">
		<h1 class="title">O&M</h1>
		</section>
		<section class="seca">
		<div class="container">
			<article class="bold">
			<p>What is O & M that afterFIT thinks about?</p>
			<p>It is "preventive maintenance".</p>
			</article>
			<article>
			<p>
				When you find a problem at a power plant, afterFIT doesn't just
				solve it.
			</p>
			<p>
				Identify the cause of the problem and take fundamental measures to
				prevent the same from happening By doing so, we will support the
				stable operation of the power plant for 20 years.
			</p>
			</article>
			<img src="static\afi_web\pic\crop\onm1.png" alt="onm" />
			<article>
			<p>Operation</p>
			<p>
				Always monitor for any abnormalities and should be. Monitor if
				there is any discrepancy with the amount of power generated.
				"Departure that should be
			</p>
			<p>
				"Electric charge" is calculated from the amount of solar radiation
				in the area.
			</p>
			<p>
				The potential that the power plant originally has That's Yar. Stay
				on alert monitoring
			</p>
			<p>
				Not reaching the desired amount of power generation I think that
				something is wrong
			</p>
			<p>Eh, always by a professional team</p>
			<p>Nittering is done.</p>
			</article>
			<img src="static\afi_web\pic\crop\onm2.png" alt="onm" />
			<article>
			<p>Maintenance</p>
			<p>
				Maintenance and inspection to maintain stable power generation for
				20 years to hold. Just go to the power plant and look at it
			</p>
			<p>Maintenance is outdated. Visually abnormal</p>
			<p>Of course, it develops abnormally</p>
			<p>See signs of doing and deal with them in advance</p>
			<p>Top quality mail to prevent troubles</p>
			<p>We provide maintenance.</p>
			</article>
		</div>
		</section>
	</main>
{% endblock %}