{% extends "afi_web/layout.html" %}
{% block title %}
	AfterFit Indonesia
{% endblock %}
{% block body %}
	<ul class="breadcrumb">
		<li>Who We Are</li>
		<li>Our Culture</li>
	</ul>
	<div class="cover">
		<img src="static\afi_web\pic\our-team.jpg">
		<div class="cover_text">
			<h1 style="color: white;">Our Culture</h1>
		</div>
	</div>
	<div class="content">
		<h2>Freedom and Responsibility</h2>
		<p>To make Indonesia the wealthiest country in the world.</p>

		<h2>Flat Culture</h2>
		<p>where everyone has the freedom to challenge themselves and bring the
			organization to newer heights.</p>

		<h2>Initiative</h2>
		<p>Where everyone is given the chance to explore new
			possibilities.</p>
		<h2>Dynamic Solution<h2>
			<p>Quick-paced in decision making as well as readiness to take action on any
			given opportunity.</p>

		<img src="" alt="Our Culture">
	</div>
{% endblock %}