{% extends "afi_web/layout.html" %}
{% block title %}
	AfterFit Indonesia
{% endblock %}
{% block body %}
	<ul class="breadcrumb">
		<li>Who We Are</li>
		<li>Our Team</li>
	</ul>
	<div class="cover">
		<h1>Our Team</h1>
	</div>
	<div class="content">
		<h2>We Value our Members</h2>
		<p>Our team consists of people from various backgrounds with a
			challenger mentality. Each individual are important in our
			organization to actualize our vision and values.</p>
	</div>
	<div class="our_team">
		<h2>Meet Our Team</h2>
		<div class="team_member">
			<img src="static\afi_web\pic\kawamura.jpg">
		</div>
		<div class="team_member">
			<img src="static\afi_web\pic\nagao.jpg">
		</div>
		<div class="team_member">
			<img src="static\afi_web\pic\hirose.jpg">
		</div>
		<div class="team_member">
			<img src="static\afi_web\pic\asep.jpg">
		</div>
		<div class="team_member">
			<img src="static\afi_web\pic\andrie.jpg">
		</div>
		<div class="team_member">
			<img src="static\afi_web\pic\kemas.jpg">
		</div>
		<div class="team_member">
			<img src="static\afi_web\pic\wika.jpg">
		</div>
		<div class="team_member">
			<img src="static\afi_web\pic\rosi.jpg">
		</div>
		<div class="team_member">
			<img src="static\afi_web\pic\mardis.jpg">
		</div>
	</div>
{% endblock %}