{% extends "afi_web/layout.html" %}
{% block title %}
	AfterFit Indonesia
{% endblock %}
{% block body %}
	<ul class="breadcrumb">
		<li>Who We Are</li>
		<li>Our Value</li>
	</ul>
	<div class="cover">
		<img src="static\afi_web\pic\our-value.jfif">
		<div class="cover_text">
			<h1 style="color: black;">Our Value</h1>
		</div>
	</div>
	<div class="content">
		<h2>Vision</h2>
		<p>To make Indonesia the wealthiest country in the world.</p>

		<h2>Mission</h2>
		<p>We are solving all of the problems in Indonesia using PV Green Technology, as
			well as providing a sustainable clean energy for all.</p>

		<h2>Value</h2>
		<p>Responsibility<br>
			We're taking our challenges with full of responsibility in order
			to give definitive contribution to this country.</p>
		<p>Curiosity<br>
			We are passionately driven by our curiosity to solve all the
			problems in our surroundings as well as constantly finding
			solutions to potential problems.</p>
		<p>Inclusion<br>
			We achieve our goals by working efficiently by synergizing our
			strengths from various diversities and cultures.</p>

		<img src="" alt="Our value">
	</div>
{% endblock %}