{% extends "afi_web/layout.html" %}
{% block title %}
	AfterFit Indonesia
{% endblock %}
{% block body %}
	<ul class="breadcrumb">
		<li>Who We Are</li>
		<li>Our Mesaage</li>
	</ul>
	<div class="cover">
		<img src="static\afi_web\pic\saito.jpg">
		<div class="cover_text">
			<h1 style="color: white;">Cota Saito</h1>
			<p style="color: white;"><b>PT afterFIT Indonesia</b></p>
			<p style="color: white;">President Director</p>
		</div>
	</div>
	<div class="content">
		<p><b>Indonesia has a population of three hundred million, and its national
			land is five times bigger than Japan.<br>
			You are one of the distinguished country from the view of
			economic growth.<br>
			At the same time, you have a great responsibility for providing
			Renewable Energy. However you fulfill the requirements to it.<br>
			Now itʼs time to start moving.<br>
			I would like to offer you ʻRichʼ and ʻCleanʼ Power permanently.<br>
			Finally I promise that I make a significant contributions to my
			second home Indonesia.<br>
			Thank you.</b></p>
	</div>
	<div class="member">
		<img src="" alt="Saito">

	</div>
{% endblock %}