{% extends "afi_web/layout.html" %}
{% block title %}
	AfterFit Indonesia
{% endblock %}
{% block body %}
	<section class="breadcrumb">
		<div class="container">
		<div class="black" role="button">
			<div>Who We Are</div>
			<svg
			class="down"
			xmlns="http://www.w3.org/2000/svg"
			fill="none"
			viewBox="0 0 24 24"
			stroke="currentColor"
			>
			<path
				stroke-linecap="round"
				stroke-linejoin="round"
				stroke-width="2"
				d="M19 9l-7 7-7-7"
			/>
			</svg>
		</div>
		<div class="gray">/ Our Message</div>
		</div>
	</section>
	<main id="page19" class="member">
		<section class="hero">
		<div class="box">
			<div class="name">Cota Saito</div>
			<div class="organization">PT AfterFIT Indonesia</div>
			<div class="position">President Director</div>
		</div>
		<div class="quote">"It always seems impossible until it’s done."</div>
		</section>
		<section class="seca">
		<div class="container">
			<p>
			Indonesia has a population of three hundred million, and its
			national land is five times bigger than Japan.
			</p>
			<p>
			You are one of the distinguished country from the view of economic
			growth.
			</p>
			<p>
			At the same time, you have a great responsibility for providing
			Renewable Energy. However you fulfill the requirements to it.
			</p>
			<p>Now itʼs time to start moving.</p>
			<p>
			I would like to offer you ʻRichʼ and ʻCleanʼ Power permanently.
			Finally I promise that I make a significant contributions to my
			second home Indonesia.
			</p>
		</div>
		</section>
		<section class="secb biodata">
		<div class="container">
			<div class="box">
			<div class="title">Joined AFI</div>
			<div class="description">
				<p>Founding Member</p>
				<p>November</p>
				<p>2019</p>
			</div>
			</div>
			<div class="box">
			<div class="title">Hometown</div>
			<div class="description">
				<p>Yokohama</p>
				<p>Japan</p>
			</div>
			</div>
			<div class="box">
			<div class="title">Experience</div>
			<div class="description">
				<p>PV power</p>
				<p>Biomass power</p>
				<p>Finance</p>
			</div>
			</div>
			<div class="box">
			<div class="title">Hobbies</div>
			<div class="description">
				<p>Golf</p>
				<p>Soccer</p>
				<p>Hot Spring</p>
			</div>
			</div>
		</div>
		</section>
	</main>
{% endblock %}