{% extends "afi_web/layout.html" %}
{% block title %}
	AfterFit Indonesia | AfterFit Indonesia
{% endblock %}
{% block body %}
	<section class="breadcrumb">
		<div class="container">
			<div class="black" role="button">
				<div>Who We Are</div>
					<svg
					class="down"
					xmlns="http://www.w3.org/2000/svg"
					fill="none"
					viewBox="0 0 24 24"
					stroke="currentColor"
					>
					<path
						stroke-linecap="round"
						stroke-linejoin="round"
						stroke-width="2"
						d="M19 9l-7 7-7-7"
					/>
					</svg>
			</div>
			<div class="gray">/ Overview</div>
		</div>
	</section>
	<main id="page15">
		<section class="hero">
			<h1 class="title">About Us</h1>
		</section>
		<section class="seca">
			<div class="container">
				<p>
				PT afterFIT Indonesia is a leading power plant company that delivers
				a broad range of power plant related services such as O & M, drones,
				EPC, as well as other power plant related services.
				</p>
				<p>
				Founded in Japan in 2016, afterFIT aims to make the world into a
				better place by making better use of various technological methods
				to process renewable energy.
				</p>
			</div>
		</section>
		<section class="secb">
			<div class="container">
				<h2 class="title">Our Info</h2>
				<table class="list-box">
				<tr>
					<th><p>Head Office</p></th>
					<td>
					<p>Sahid Sudirman Center</p>
					<p>
						56th floor, Jl. Jend. Sudirman No. 86, Jakarta 10220,
						Indonesia
					</p>
					</td>
				</tr>
				<tr>
					<th>Representative</th>
					<td>
					<p>President Director Cota Saito</p>
					<p>Director Yoshiyuki Kawamura</p>
					<p>Commissioner</p>
					</td>
				</tr>
				<tr>
					<th>Founding Year</th>
					<td>
					<p>Nov. 2019</p>
					</td>
				</tr>
				</table>
				<h2 class="title ke2">More about AfterFIT Japan</h2>
				<table class="list-box">
				<tr>
					<th><p>Head Office</p></th>
					<td>
					<p>Sahid Sudirman Center</p>
					<p>
						56th floor, Jl. Jend. Sudirman No. 86, Jakarta 10220,
						Indonesia
					</p>
					</td>
				</tr>
				<tr>
					<th>Representative</th>
					<td>
					<p>President Director Cota Saito</p>
					<p>Director Yoshiyuki Kawamura</p>
					<p>Commissioner</p>
					</td>
				</tr>
				<tr>
					<th>Founding Year</th>
					<td>
					<p>Nov. 2019</p>
					</td>
				</tr>
				</table>
				<h2 class="title ke3">want to know more about AF Japan?</h2>
				<img src="static\afi_web\pic\assets\images\about\bg-secb.png" alt="AF Japan" />
			</div>
		</section>
	</main>
{% endblock %}