{% extends "afi_web/layout.html" %}
{% block title %}
	AfterFit Indonesia
{% endblock %}
{% block body %}
	<ul class="breadcrumb">
		<li>Contact Us</li>
		<li>Recruitment</li>
	</ul>
	<div class="cover">
		<img src="static\afi_web\pic\contact us.jpg">
			<div class="cover_text">
				<h1 style="color: lime;">Contact Us</h1>
			</div>
	</div>
	<div class="content" style="height: 100vh;">
		<button style="border-radius: 2px; width: 230px; height: 80px; margin: 70px;">Recruitment</button>
		<button style="border-radius: 2px; width: 230px; height: 80px; margin: 70px;">Business</button>
	</div>
{% endblock %}