{% extends "afi_web/layout.html" %}
{% block title %}
	AfterFit Indonesia
{% endblock %}
{% block body %}
	<section class="breadcrumb">
		<div class="container">
		<div class="black" role="button">
			<div>Contact Us</div>
			<svg
			class="down"
			xmlns="http://www.w3.org/2000/svg"
			fill="none"
			viewBox="0 0 24 24"
			stroke="currentColor"
			>
			<path
				stroke-linecap="round"
				stroke-linejoin="round"
				stroke-width="2"
				d="M19 9l-7 7-7-7"
			/>
			</svg>
		</div>
		<div class="gray">/ Recruitment</div>
		</div>
	</section>
	<main id="page26">
		<section class="hero">
		<h1 class="title">Contact Us</h1>
		</section>
		<section class="seca">
			<div class="container">
				<div class="left">
				<div role="button" class="btn">Recruitment</div>
				</div>
				<div role="button" class="btn">Business</div>
			</div>
		</section>
	</main>
{% endblock %}