{% extends "afi_web/layout.html" %}
{% block title %}
	AfterFit Indonesia
{% endblock %}
{% block body %}
	<ul class="breadcrumb">
		<li>What We Are</li>
		<li>Our Team</li>
	</ul>
	<div class="cover">
		<img src="static\afi_web\pic\rosi.jpg">
		<div class="member_cover_text_left">
			<h1 style="color: white;"><b>Rosi</b>></h1>
			<p style="color: white;"><b>Manager</b></p>
			<p style="color: white;">Human Resource Dept</p>
		</div>
	</div>
	<div class="content">
		<div class="quote">
			<p><b>"Don’t aim for success if you want it,<br>
				just do what you love and believe in
				and it will come naturally.”<b></p>
			<p style="font-size: 16px;"><b>-David Frost</b></p>
		</div>
		<div class="member">
			<div class="member_data">
				<div class="member_column">
					<h3>Joined AFI</h3>
					<hr>
					<p>January</p>
					<p>2020</p>
				</div>
				<div class="member_column">
					<h3>Hometown</h3>
					<hr>
					<p>Tangerang</p>
					<p>Indonesia</p>
				</div>
				<div class="member_column">
					<h3>Experience</h3>
					<hr>
					<p>Human Resources</p>
					<p>Construction</p>
					<p>Tax & Accounting</p>
				</div>
				<div class="member_column">
					<h3>Hobbies</h3>
					<hr>
					<p>Watching Movies</p>
				</div>
			</div>
		</div>
	</div>
{% endblock %}