{% extends "afi_web/layout.html" %}
{% block title %}
	AfterFit Indonesia
{% endblock %}
{% block body %}
	<section class="breadcrumb">
		<div class="container">
		<div class="black" role="button">
			<div>What We Are</div>
			<svg
			class="down"
			xmlns="http://www.w3.org/2000/svg"
			fill="none"
			viewBox="0 0 24 24"
			stroke="currentColor"
			>
			<path
				stroke-linecap="round"
				stroke-linejoin="round"
				stroke-width="2"
				d="M19 9l-7 7-7-7"
			/>
			</svg>
		</div>
		<div class="gray">/ Our Team</div>
		</div>
	</section>
	<main id="page30" class="member">
		<section class="hero">
			<div class="box">
				<div class="name">Wika</div>
				<div class="position">Manager</div>
				<div class="division">Legal Dept</div>
			</div>
			<div class="quote">"Try not to become a man of success.
				Rather become a man of value."</div>
		</section>
		<section class="biodata">
			<div class="container">
				<div class="box">
					<div class="title">Joined AFI</div>
					<div class="description">
						<p>October</p>
						<p>2020</p>
					</div>
				</div>
				<div class="box">
					<div class="title">Hometown</div>
					<div class="description">
						<p>Jakarta</p>
						<p>Indonesia</p>
					</div>
				</div>
				<div class="box">
					<div class="title">Experience</div>
					<div class="description">
						<p>Power Plants</p>
						<p>Mining</p>
						<p>Energy Law</p>
					</div>
				</div>
				<div class="box">
					<div class="title">Hobbies</div>
					<div class="description">
						<p>Karaoke</p>
						<p>Watching crime<br>documentaries</p>
					</div>
				</div>
			</div>
		</section>
	</main>
{% endblock %}