{% extends "afi_web/layout.html" %}
{% block title %}
	AfterFit Indonesia
{% endblock %}
{% block body %}
	<ul class="breadcrumb">
		<li>What We Are</li>
		<li>Our Team</li>
	</ul>
	<div class="cover">
		<img src="static\afi_web\pic\wika.jpg">
		<div class="member_cover_text_left">
			<h1 style="color: white;"><b>Wika</b></h1>
			<p style="color: white;"><b>Manager</b></p>
			<p style="color: white;">Legal Dept</p>
		</div>
	</div>
	<div class="content">
		<div class="quote">
			<p><b>"Try not to become a man of success.
				Rather become a man of value."<b></p>
		</div>
		<div class="member">
			<div class="member_data">
				<div class="member_column">
					<h3>Joined AFI</h3>
					<hr>
					<p>October</p>
					<p>2020</p>
				</div>
				<div class="member_column">
					<h3>Hometown</h3>
					<hr>
					<p>Jakarta</p>
					<p>Indonesia</p>
				</div>
				<div class="member_column">
					<h3>Experience</h3>
					<hr>
					<p>Power Plants</p>
					<p>Mining</p>
					<p>Energy Law</p>
				</div>
				<div class="member_column">
					<h3>Hobbies</h3>
					<hr>
					<p>Karaoke</p>
					<p>Watching Crime<br>
					cocumentaries</p>
				</div>
			</div>
		</div>
	</div>
{% endblock %}